*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    margin: 3% 5% 0 5%;
    align-items: center;
}

form {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 3px 100px rgb(0 0 0 / 0.2);
    border-radius: 50px;
    padding: 2%;
}



#texto label {
    display: flex;
    flex-direction: column;

}

#texto input {
    width: 90%;
    height: 3em;
    padding: 0 0.5em;
    margin: 0.9em;
    font-size: 1em;
    border: 1px solid #040B18;
    border-radius: 8px;
    background-color: #c0c0c0;
}

#texto input:hover {
    background-color: #eeeeee75;
}


form input[type="submit"] {
    cursor: pointer;
    width: 90%;
    margin-top: 1.5em;
    border: none;
    padding: 0.7em;
    border-radius: 32px;
    background:#C22736;
    color: white;
    font-size: 1.1em;
    transition: 0.5s;
}

form input[type="submit"]:hover {
    background: #8F1D28;

}

#span {
    display: none;
}


h1 {
    text-align: center;
    padding-bottom: 25px;
}